header {
    
   padding: 0;
    margin: 0;
}
.header-content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  color: #000000;
  background-image: url('../images/company-representatives-reading-applicant-resume-hiring.jpg');
  background-size: cover;
  text-shadow: #000000 1px 0px 3px;
  padding: 10px;
  margin: 0;
  margin-top: 50px;
  overflow: hidden;
}

.header-content h1 {
  font-size: 3rem;
  position: relative;
  color: rgb(107, 8, 8);
  margin: 0;
  font-weight: bold;
  animation: slider 1.5s  ease-in-out;
}
.header-content p {
  font-size: 1.5rem;
  position: relative;
  text-decoration: underline;
  font-style: italic;
  margin: 10px 0;
  font-weight: 500;
  animation: slider 2s  ease-in-out;
  
}
@keyframes slider {
  0% {
    left: -100%;
    opacity: 0 ;
  }
  50% {
    left: -50%;
    transform: translateX(-50%);
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
#register-header {
  background-image: url('../images/company-representatives-reading-applicant-resume-hiring.jpg');
  color: #000000;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: #778c8d 5px 3px 3px;
  padding: 20px;
  text-align: center;
  margin: 0;
  
}

#register-header h1 {
  font-size: 3rem;
  position: relative;
  margin-bottom: 20px;
  color: #000000;
  font-weight: bold;
  animation: slider 2s ease-in 1s  ;
}

#jobs-header {
  background-image: url('../images/company-representatives-reading-applicant-resume-hiring.jpg');
  color: #000000;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: #778c8d 5px 3px 3px;
  padding: 20px;
  text-align: center;
  perspective: 700px;
}
#jobs-header h1 {
  font-size: 3rem;
  position: relative;
  margin-bottom: 20px;
  color: #000000;
  font-weight: bold;
  animation: zoomIn 2s ease-in-out ;
}

footer {
 background-color: #198492; 
  text-align: center;
  color:#000000;
  padding-top: 18px!important;
  margin: 0;
  padding: 10px;
  
}
.text-content {
  color: #000000;
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
}
.head {
  background-color: #1d3eaa;
  color: #000000;
  padding: 15px;
  margin: 0;
  text-align: center;
  font-weight: bold;
}
main{
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
}

.Login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    min-height: 80vh;
    border-radius: 50px;
    padding: 10px;
    min-width: 100px;
     background-color: #318682;
     
}
.Login h1 {
    color: #000000;
    font-weight: bold;
    margin-bottom: 40px;
}
main > div{
  box-sizing: border-box;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    color: rgb(26, 79, 158);
}
.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px 30px;
  }
  .btn a{
    text-decoration: none;
    color: white;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
button{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    
}

button:hover{
    background-color: #0a032e; 
}
 


.job-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  background-color: white;
  border-radius: 20px;
  margin-top: 5px;
  }
  
  .job-item {
    background: rgb(255, 251, 251);             
    border: 1px solid #001535;      
    padding: 20px;
    margin-bottom: 10px;
    width: 400px; /* Fixed width for job items */
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* Subtle shadow */
    color: #1f2937;                  /* Neutral dark text */
  }
  
  .job-item h2 {
    color: #000000; /* Bootstrap primary blue */
    font-weight: bolder;
  }
  
  .job-item p {
    color: #0e6d92; /* Cool dark gray for body text */
    font-weight: 700;
  }
  .location {
    color: rgba(255, 0, 0, 0.671) !important; 
  }
  
  
  
  .job-item:hover {
    box-shadow: 0px 4px 10px black
  }
  .form-control {
    margin-bottom: 10px;
  }
  .form-container {
    background-color: #010518;
    color: white;
    padding: 30px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 900px;
  }
  #form-body{
    background-image: url("../images/flat-lay-desktop-with-laptop-magnifier.jpg");
    background-size: cover;
  }
  label {
    font-weight: bold;
    color: #000000; 
    margin: 5px 0;
  }
  
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e0dcd2 !important;
}
a {
    color: #000000;

}
#navbarNav a:hover {
    background-color: #ebe4e4 !important;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}

.filters{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
   overflow: scroll;
  background-color: #dee2e6;
  padding: 5px;
  border-radius: 20px;
  
}
.filter-section h1{
  color: #000000;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  
}
#search-input {
  width: 80%;
  max-width: 700px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 20px;
  font-size: 16px;
  margin: 30px;
}



.filter-btn {
  
  border: 1px solid #000000;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  background-color: #ffffff;
}
.filter-btn:hover {
  background-color: #000000;
  color: #ffffff; 
}

.filter-btn.active {
  background-color: #000000;
  color: #ffffff;
}

.filters::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
.filter-section{
  display: flex;
  flex-direction: column;
  min-width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
  overflow: auto;
  white-space: nowrap; 
   scrollbar-width: none; 
  -ms-overflow-style: none;
}

.filters{
  overflow: scroll;
  white-space: nowrap;
}

.sect{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fab-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #007bff;
  color: white;
  padding: 14px 24px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
 
}

.fab-btn:hover {
  background-color: #000000;
  cursor: pointer;
  transform: scale(1.05);
  text-decoration: none;
}

.applications-list{
  text-align: center;
  margin-top: 50px;
}

.radiobtn {
  margin-left: 10%;
}

table tr th td {
  border: 1px solid black;
 
}

.hidden{
  display: none;
}

